.attractor {
	width: 20vw;
	height: 20vw;
	position: relative;

}

.circle {
	width: 20vw;
	height: 20vw;
	position: absolute;
	background: rgba(150, 150, 150, 0.5);
	border-radius: 120%;

}

.circle-lg {
	width: 90%;
	height: 90%;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle-sm {
	width: 85%;
	height: 85%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inner {
	width: 20vw;
	height: 20vw;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.hand {
	width: 15vw;
	height: auto;
	display: inline-block;
}

.hand img {
	width: 100%;
	height: 100%;
}

.text {
	color: #fff;
	font-size: 16pt;
	text-transform: uppercase;
	font-family: sans-serif;
	display: inline-block;
}